<footer class="w-100 py-4 flex-shrink-0" style="background: #212529;">
    <div class="containerFooter py-4">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6">
                <h1 style="color: #ffffff; font-family: 'Playfair Display', serif;">GESTIÓN DE TIENDA</h1>
                <p class="small" style="color: #ffffff; font-family: 'Playfair Display', serif;">Optimiza la administración de inventarios y mejora la eficiencia operativa.</p>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="h5" style="color: #ffffff; font-family: 'Playfair Display', serif;">RECURSOS ÚTILES</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">Documentación</a></li>
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">Guía de Usuario</a></li>
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">Soporte Técnico</a></li>
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">FAQs</a></li>
                </ul>
            </div>
            <div class="col-lg-4 col-md-6">
                <h5 class="h5" style="color: #ffffff; font-family: 'Playfair Display', serif;">SÍGUENOS</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">Facebook</a></li>
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">Instagram</a></li>
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">LinkedIn</a></li>
                    <li><a href="#" class="text-white" style="font-family: 'Playfair Display', serif;">Twitter</a></li>
                </ul>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="small" style="color: #ffffff; font-family: 'Playfair Display', serif;">© 2024 Gestión de Tienda (Abast.Co). Todos los derechos reservados.</p>
        </div>
    </div>
</footer>